body{
    background-color: #cccccc;
    font-family: arial,helvetica,sans-serif;
}

.bokHeadline
{
    font-size: 12pt;
    font-weight: bold;
}
.bookDescription{
    font-size: 10pt;
}
.alertMsg{
    color: #FE2E2E;
    font-size: 16px;
}
label{
    font-weight: bold;
}